@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  max-width: 700px;
  margin: auto;
  padding-bottom: 100px;
  @apply bg-black font-sans;
}

.active{
  @apply text-white;
}
.icon-active{
  filter: invert(0%) sepia(99%) saturate(21%) hue-rotate(217deg) brightness(92%) contrast(101%)
}

.card-icon{
  filter: invert(13%) sepia(34%) saturate(0%) hue-rotate(149deg) brightness(105%) contrast(105%)
}

.form-label::after{
  content: "*";
  margin-left: 5px;
  font-size: 20px;
  color: #9E2828;
}


